<table class="table">
  <thead>
    <tr>
      <th scope="col">State</th>
      <th scope="col"># Jobs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Enqueued</th>
      <td><%= @enqueued %></td>
    </tr>
    <tr>
      <th scope="row">In progress</th>
      <td><%= @in_progress %></td>
    </tr>
    <tr>
      <th scope="row">Failed</th>
      <td><a href="/failed"><%= @failed %></a></td>
    </tr>
  </tbody>
</table>
