<table class="table">
  <%= case @jobs do %>
  <% [] -> %>
  <div class="no-jobs">No enqueued jobs!</div>
  <% jobs -> %>
  <thead>
    <tr>
      <th scope="col">Enqueued at</th>
      <th scope="col">Job</th>
    </tr>
  </thead>
  <tbody>
  <%= for job <- jobs do %>
      <tr>
        <td><%= job.enqueued_at %></td>
        <td><%= render_mfa(job.mfa) %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
